# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

io.jxcore.node/src/android/obj/

.idea

src/android/.project

src/android/.classpath

*.class

*.prefs

.DS_Store

jxcore-cordova.jx

io.jxcore.node.jx

bin/

src/android/libs/